<div class="h-screen flex justify-center items-center">

  <div class="border border-zinc-400 shadow-xl rounded-lg w-96 min-h-96 p-12">
    <h1 class="text-4xl font-mono font-semibold text-gray-800 text-center">Register</h1>

    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="space-y-4 mt-12">
      <div class="flex flex-col gap-1">
        <label for="email" class="text-gray-600 font-mono">Email</label>
        <input formControlName="email" id="email" placeholder="sample@test.com" type="email" class="border px-3 py-1 rounded-md">
      </div>
      <div class="flex flex-col gap-1">
        <label for="username" class="text-gray-600 font-mono">Username</label>
        <input formControlName="username" id="username" type="text" class="border px-3 py-1 rounded-md">
      </div>
      <div class="flex flex-col gap-1">
        <label for="password" class="text-gray-600 font-mono">Password</label>
        <input formControlName="password" id="password" type="password" class="border px-3 py-1 rounded-md">
      </div>

      <div class="flex flex-col justify-center items-center">
        <button type="submit" class="flex justify-center items-center bg-zinc-200 px-5 py-2 w-32 h-9 rounded-md border border-zinc-300 shadow">Sign up</button>
        <p class="mt-12 text-sm font-mono font-light">Already have an account? <span class="text-blue-500 hover:underline cursor-pointer" (click)="navigateLogin()">Log In</span></p>
      </div>
    </form>
  </div>

</div>




